h1{
    color: aqua
}
.titulo{
    color: blueviolet
}

.contenedor-tarjetas {
    text-align: center; 
    
}

.contenedor-boton-palabra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
    float: left;

  margin: 10px; 
}
.card img {
  width: 100%;
  border-radius: 4px;
border-radius: 8px;
margin-bottom: 10px;
}
.card h3 {
  color: #333;
  margin: 10px 0;
}

.btn {
  background-color: #0077cc;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: #005fa3;
}